// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.hero-phone{
    --container-mobile-width: 100%;
    position: relative;
    padding-block: 2rem;
    text-align: center;
    overflow: hidden;
    img{
        width: 100%;
        margin-top: -10%;
        margin-bottom: -60%;
        position: relative;
    }

    .light-btn{
        position: relative;
        z-index: 5;
    }
}
.hero-phone *{
    z-index: 5;
}
.hero-phone::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../../assets/shared/desktop/bg-pattern-small-circle.svg);
    background-size: 640px auto;
    background-repeat: no-repeat;
}

@media (min-width: $md) {
    .hero-phone::after {
        background-position: 200% center;
    }
}

@media (min-width: $lg) {
    .hero-phone::after {
        background-position: right center;
        background-repeat: no-repeat;
    }
}

@media (min-width: $md) {
    .hero-phone {
        padding-top: 3.75rem;
        border-radius: $border-radius-1;
        img{
            margin-top: -20%;
        }
    }
}

@media (min-width: $lg) {
    .hero-phone{
        text-align: left;
        grid-template-columns: 1fr 1fr;
        padding-right: 0;
        align-items: center;

        img {
            position: relative;
        }
        .hero-phone-details{
            --flow-space: 2rem;
            padding-block: clamp(6rem, 30% ,9rem);
        }
    }
}

.design-cards--home .app-design{
    grid-area: app;
}

.design-cards--home .web-design {
    grid-area: web;
}

.design-cards--home .graphic-design {
    grid-area: graphic;
}

.design-cards--home {
    grid-template-rows: auto auto auto;
    grid-template-areas:
            'web'
            'app'
            'graphic';
}

@media (min-width: $lg) {
    .design-cards--home {
        height: 640px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            'web app'
            'web graphic';
    }
}

.container--skills{
    padding: 0;
}

.skills{
    flex-direction: column;
    align-items: center;
}

.skill{
    flex-direction: column;
    align-items: center;
    text-align: center;

    .grey-circle-overlay{
        background-image: url("../../assets/shared/desktop/bg-pattern-small-circle.svg");
    }
    img{
        min-width: 12.5rem;
    }
}

@media (min-width: $md) {
    .skill {
        --gap: 3rem;
        flex-direction: row;
        align-items: center;
        text-align: left;
    }
}

@media (min-width: $lg) {
    .skills{
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }
    .skill {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}