// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.primary-header{
    padding: 2.25rem 0;
    height: 7rem;
}

.primary-header > nav{
    position: relative;
    --gap: clamp(.75rem, 15vw - 5rem ,4rem);
}

header .nav-links a:hover{
    border-bottom: 1px solid $clr-primary-black;
}

.mobile-nav-toggle {
    display: none;
}

       

@media (max-width: $s) {
    
    .primary-navigation{
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
        align-items: left;
        --gap: 3rem;
        background-color: $clr-primary-white;
        box-shadow: -1px -2px 4px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -1px -2px 4px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px -2px 4px 0px rgba(0, 0, 0, 0.75);
        transform: translateX(102%); // extra 2% to hide box shadow
        transition: transform 500ms ease-in-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 1rem;
        top: 2rem;
        background: transparent;
        background-image: url(../../assets/shared/mobile/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
    }

    .mobile-nav-toggle[aria-expanded="true"]{
        background-image:url(../../assets/shared/mobile/icon-close.svg);
    }
}