// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
ul,
ol,
picture {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

img,
picture {
  max-width: 100%;
  display: block;
}

ul, li{
  list-style-type: none;
}

/**
 * Basic styles for links
 */ 

a {
  color: inherit;
  text-decoration: inherit;

  @include on-event {
    //color: $clr-primary-black;
    //text-decoration: underline;
  }
}