// Utilities


.flow>*:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.container{
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.block{
    display: block;
}

.flex{
    display: flex;
    gap: var(--gap, 1rem);
}

.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}

.grid{
    display: grid;
    gap: var(--gap, 1rem);
}