// Utilities


.flow>*:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.container {
    width: 90%;
    margin-inline: auto;
    padding-inline: 1.5rem;
    padding-block: 1.5rem;
}

@media (min-width: $md) {
    .container {
        padding-inline: 3.625rem;
        width: min(80rem, 90%);
    }
}

@media (min-width: $lg) {
    .container {
        width: min(80rem, 80%);
        padding-inline: 6rem;
    }
}

.block{
    display: block;
}

.flex{
    display: flex;
    gap: var(--gap, 1rem);
}

.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}

.grid{
    display: grid;
    gap: var(--gap, 1rem);
}

.border-radius{
    border-radius: 8px;
}

.overlap-next-block{
    margin-bottom: calc(-1 * var(--overlap, 10rem));
    z-index: 10;
    position: relative;
}

.rel{
    position:relative;
}



