// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

///Screen sizes
/// 
$s: 576px;
$md: 768px;
$lg: 992px;

/// Regular font family
/// @type List
$text-font-stack: 'Jost', sans-serif !default;
/// font sizes
/// 
$fs-300: 1rem;
$fs-400: 1.25rem;
$fs-500: 2.5rem;
$fs-600: 3rem;

///font-weight;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

/// line height
/// 
$line-height-1: 1.625rem;
$line-height-2: 2rem;


/// letter spacing
/// 
$letter-spacing-1: normal;
$letter-spacing-2: 2px;
$letter-spacing-3: 5px;

/// primary colors
/// @type Color
$clr-primary-peach: hsl(11 73% 66%);
$clr-primary-black: hsl(250 3% 11%);
$clr-primary-white: hsl(0, 0%, 100%);

$clr-secondary-light-peach: hsl(11 100% 80%);
$clr-secondary-dark-grey: hsl(264 5% 20%);
$clr-secondary-light-grey: hsl(210 17% 95%);

$border-radius-1: 15px;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;

/// Footer overlap
/// 
$footer-overlap-sm: 10rem;
$footer-overlap-md: 3.5rem;
$footer-overlap-lg: 7rem;
